<div id="menu1" class="tab-pane">
    <div class="form-container">
        <form role="form" id="createForm" novalidate ng-submit="$ctrl.submit()">
            <div class="form-group">
                <div class="col-lg-4">
                    <label for="firstName">First Name*</label>
                    <input class="form-control" id="firstName" ng-model="$ctrl.newDriver.firstName" name="firstName" type="text">
                </div>
                <div class="col-lg-4">
                    <label for="lastName">Last name*</label>
                    <input class="form-control" id="lastName" ng-model="$ctrl.newDriver.lastName" name="lastName" type="text">
                </div>
                <div class="col-lg-4">
                    <label for="licenceId">Driver License ID*</label>
                    <input class="form-control" id="licenseId" ng-model="$ctrl.newDriver.licenseId" name="licenseId" type="text">
                </div>

                <div class="col-lg-4" id="break">
                    <label for="licenceId">Street Address*</label>
                    <input class="form-control" id="streetAddress" ng-model="$ctrl.newDriver.streetAddress" name="streetAddress" type="text">
                </div>
                <div class="col-lg-4" id="break">
                    <label for="licenceId">Apt</label>
                    <input class="form-control" id="apartment" ng-model="$ctrl.newDriver.apartment" name="apartment" type="text">
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-lg-4">
                    <label for="city">City*</label>
                    <input class="form-control" id="city" ng-model="$ctrl.newDriver.city" name="city" type="text">
                </div>
                <div class="col-lg-4">
                    <label for="state">State*</label>
                    <input class="form-control" id="state" ng-model="$ctrl.newDriver.state" name="state" type="text">
                </div>
                <div class="col-lg-4">
                    <label for="zip">Zip*</label>
                    <input class="form-control" id="zip" ng-model="$ctrl.newDriver.zipCode" name="zipCode" type="text">
                </div>

                <div class="col-lg-4" id="break">
                    <label for="phNumber">Phone Number*</label>
                    <input class="form-control" id="phNumber" ng-model="$ctrl.newDriver.phoneNumber" name="phoneNumber" type="text">
                </div>
                <div class="col-lg-4" id="break">
                    <label for="emergencyPhNumber">Emergency Phone Number*</label>
                    <input class="form-control" id="emergencyPhNumber" ng-model="$ctrl.newDriver.emergencyPhoneNumber" name="emergencyPhoneNumber" type="text">
                </div>
                <div class="col-lg-4" id="break">
                    <label for="email">Email*</label>
                    <input class="form-control" id="email" ng-model="$ctrl.newDriver.emailAddress" name="emailAddress" type="text">
                </div>
            </div>

            <input class="btn btn-primary pull-right" style="margin-right: 15px;" type="submit">
        </form>
    </div>
</div>