<!-- / component5 \ -->
<div class="component5">
	<div class="table-responsive">
	  <table class="table table-striped">
	        <thead>
	          <tr>
		          <th>First Name</th>
		          <th>Last Name</th>
		          <th>Address</th>
		          <th>Image</th>
		          <th>Phone Number(Primary) </th>
		          <th>Email</th>
		          <th>Driver's License ID</th>
		          <th>Status </th>
	          </tr>
	      	</thead>
	      	<tbody>
	            <tr ng-repeat="driver in $ctrl.drivers">
	                <td>{{driver.firstName}}</td>
	                <td>{{driver.lastName}}</td>
	                <td>
	                    <address>
	                        {{driver.address.streetAddress}},<br>
	                        Apt. {{driver.address.apartment}},<br>
	                        {{driver.address.city}}, {{driver.address.state}} {{driver.address.zipCode}}
	                    </address>
	                </td>
	                <td>
	                    <div class="row" ng-repeat="image in driver.images">
	                        <img ng-src="{{image.url}}" alt="driver image" width="80" height="60">
	                    </div>
	                </td>
	               <td>{{driver.phoneNumber}}</td>
	               <td>{{driver.emergencyContactNumber}}</td>
	               <td>{{driver.licenseID}}</td>
	               <td>Active</td>
	            </tr>
        	</tbody>
	  </table>
	</div>
</div>
<!-- \ component5 end / -->
